/.env
/.venv
/.vscode
/IKEA_Assembly_Instruction_Processing.egg-info
/__pycache__
/debug_add.py
/debug_arrow.py
/debug_lance.py
/debug_lance2.py
/debug_lance3.py
/debug_merge.py
/debug_merge2.py
/debug_workaround.py
/embedding_model
/indexes.csv
/out.txt
/out2.txt
/out_add.txt
/out_merge.txt
/out_merge2.txt
/out_work.txt
/pyrightconfig.json
/test_db
/test_db_2
/test_lancedb_schema.py
/test_lancedb_schema2.py
/test_out.txt
/tests